<%- include('./partials/header'); %>


<div class="max-w-screen-md mx-auto p-4 mt-64 bg-gray-100">
  <div class="bg-red-100 p-6 rounded-lg shadow text-center">
    <h1 class="text-3xl font-semibold text-red-600 mb-4"><%= message %></h1>
    <p class="text-2xl text-gray-800 ">
      <a href="/users/login" class="text-green-700 font-semibold bg-yellow-300 rounded-lg p-3">Log in</a> again to continue.
    </p>
  </div>
</div>

<%- include('./partials/footer'); %>
